body{
    font-family: 'Roboto', sans-serif;
    font-weight: 700; 
    text-transform: uppercase;
    margin: 0;
    max-width: 1000px;
}

a{
    text-decoration: none;
}

.logo,
.logo-footer {
    text-align: center;
    font-family: 'M PLUS 1', sans-serif;
    font-size: 40px;
    margin: 30px auto;
}

.logo-first{
    color: rgba(62, 69, 232, 1);
}

.logo-second{
    color: rgba(232, 194, 62, 1);
}

.main-text,
.main-flag {
    display: inline-block; 
}

.main-flag{
    margin-left: 20px;
    padding: 240px auto ;
    
}
.main-text {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    line-height: 157.3%;
    margin: 230px 110px 230px 10px;
}

.main{
    background:  url(../img/bg_image.png) center /  auto 100%  no-repeat,
                 url(../img/img\ flag\ vert.png);
}

.title-list{
    padding-left: 30px;
    font-size: 40px;
}
 
.card-list > div{
    width: 300px;
    min-height: 400px;
    border: 5px solid #0D095F;
    border-radius: 30px;
    display: inline-block;
    margin: 10px;
    vertical-align:top;
}

.card-title{
    text-transform: capitalize;
    color: #0072DB;
    font-weight: 700;
    font-size: 24px;
    padding-left: 5px ;
}

.card-description{
    text-transform: none;
    color: #FF9900;
    font-weight: 400;
    font-size: 20px;
    padding-left: 5px ;
    min-height: 50px;
}

.card-one{
    box-shadow: -16px 21px 40px rgba(0, 209, 255, 0.35);
}

.card-two{
    box-shadow: 0px 21px 35px rgba(0, 209, 255, 0.35);
}

.card-three{
    box-shadow: 16px 21px 40px rgba(0, 209, 255, 0.35);
}

.title-map{
    text-align: center;
    font-size: 40px;
    border-bottom: 7px solid #1400FF;
    /* margin-bottom: 0;   */
    margin: 20px auto;
    width: 550px; 
}

.title-underline{
    text-align: center;
    margin-top: 0;
}

.map{
    text-align: center;
}

.link-go {
    background: url(../img/go.png)  center / 40% no-repeat; 
    font-size: 50px ;
    text-align: center;
    color: #FFFFFF;
}

.footer {
    background: url(../img/footer.png) no-repeat; 
}

.logo-footer {
    margin-bottom: 0;
}

.contact{
    color: rgba(168, 157, 157, 1);
    font-family: 'Marcellus', serif;
    font-weight: 400;
    font-size: 30px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.social-link > div{
    display: inline-block;
    /* text-align: center; */
    margin: 5px;
}