@keyframes img-show-left{
    from{
        transform: translateX(-100vh);
    }
    to{
        transform: translateX(0);
    }
} 

@keyframes img-show-right{
    from{
        transform: translateX(100vh);
    }
    to{
        transform: translateX(0);
    }
} 

@keyframes circle-one{
    from{
        top: 0;
        left: 0;
    }
    25%{
        top: 0;
        left: 50%;
    }
    50%{
        top: 50%;
        left: 50%;
    }
    75%{
        top: 50%;
        left: 0;
    }
    to{
        top: 0;
        left: 0;
    }
}

@keyframes circle-two{
    from{
        top: 0;
        left: 50%;
    }
    25%{
        top: 50%;
        left: 50%;
    }
    50%{
        top: 50%;
        left: 0;
    }
    75%{
        top: 0;
        left: 0;
    }
    to{
        top: 0;
        left: 50%;
    }
}

@keyframes circle-three{
    from{
        top: 50%;
        left: 50%;
    }
    25%{
        top: 50%;
        left: 0;
    }
    50%{
        top: 0;
        left: 0;
    }
    75%{
        top: 0;
        left: 50%;
    }
    to{
       top: 50%;
       left: 50%; 
    }
}

@keyframes circle-four{
    from{
        top: 50%;
        left: 0;
    }
    25%{
        top: 0;
        left: 0;
    }
    50%{
        top: 0;
        left: 50%;
    }
    75%{
       top: 50%;
       left: 50%; 
    }
    to{
        top: 50%;
        left: 0; 
    }
}

