body{
    margin: 0;
}
h1,h2,p{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
:root{
    --text-color: #404040;
    --text-form-color: #333333;
    --placeholder-text-color:#000000;
    --accent-color: #4743E0;
    --bg-right-color: #E5E5E5;
    --bg-left-color:#FFFFFF;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.left{
    width: 70%;
}

.container{
    width: 75%;
    margin: 7rem auto;
}

.member{
    display: flex;
    justify-content: end;
    margin-bottom: 7.3rem;
}

.member a{
    color: var(--accent-color);
    padding: .5rem;
    font-size: 1.4rem;
    letter-spacing: 0.025rem;
}

.member a:hover{
    text-decoration: underline;
}

.top{
    display: flex;
    justify-content: space-between;
    border-bottom: .1rem dashed rgba(0, 0, 0, .2);
    margin-bottom: 4rem;
}

.top h1 {
    width: 45%;
    font-weight: 700;
    font-size: 5.4rem;
    color:#42505C; 
    margin-bottom: 5rem;
}

.top p{
    width: 45%;
    font-size: 1.4rem;
    line-height: 2.8rem;
    letter-spacing: 0.025rem;
    opacity: 0.99;
    padding: 1rem;
}

.top a{
    font-weight: 700;
    color: var(--accent-color);
    opacity: 0.99;
}

.top a:hover{
    text-decoration: underline;
}

.questionary label{
    color: var(--text-form-color);
    font-size: 1.2rem;
    line-height: 2.8rem;
    letter-spacing: 0.025rem;
}

.questionary input{
    width: 90%;
    border: 1px solid #D1D1D1;
    color: var(--placeholder-text-color);
    opacity: 0.6;
    padding: 1.5rem;
}

.questionary::placeholder{
    font-size: 1.4rem;
    line-height: 2.8rem;
    letter-spacing: 0.025rem;
}

.row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.7rem;
}

.box{
    width: 45%;
    position: relative;
}

.box img{
    position: absolute;
    top: 2%;
    right: 0;
}

.box span {
    opacity: 0.34;
}

.title-radio{
    color: #FF0000;
}

.password{
    border-top: .1rem dashed rgba(0, 0, 0, .2);
    border-bottom: .1rem dashed rgba(0, 0, 0, .2);
    padding: 3.8rem 0 4.2rem;
    margin: 3.8rem 0;
}

.radio-btn{
    display: flex;
    justify-content: space-between;
}

/* .radio-btn div{
    color: var(--placeholder-text-color);
    opacity: 0.6;
    border: .1rem solid rgba(0, 0, 0, .2);
    padding: 1.5rem;
    font-size: 1.2rem;
    letter-spacing: 0.025rem;
}

.radio-btn div:hover{
    border: .1rem solid var(--accent-color);
    color: var(--accent-color);
} */

.radio-btn input{
    display: none;
}

.radio-btn label{
    color: var(--placeholder-text-color);
    opacity: 0.6;
    border: .1rem solid rgba(0, 0, 0, .2);
    padding: 1.5rem;
    font-size: 1.2rem;
    letter-spacing: 0.025rem;
}

.radio-btn label:hover{
    border: .1rem solid var(--accent-color);
    color: var(--accent-color);
}

.radio-btn p{
    margin: 1rem 0;
}

.bottom{
    font-size: 1.4rem;
    line-height: 2.8rem;
    letter-spacing: 0.025rem;
    display: flex;
    justify-content: space-between;
}

.bottom p{
    padding-left: .5rem;
    color: var(--text-color);
}

.bottom a{
    font-weight: 700;
    color: var(--accent-color);
}

.bottom a:hover{
    text-decoration: underline;
}

.checkbox{
    display: flex;
    align-items: center;
}

.btn{
    background-color: var(--accent-color);
    color: var(--bg-left-color);
    padding: 1.5rem 2rem;
    border: .1rem solid var(--accent-color);
    cursor: pointer;
    /* letter-spacing: 0.25px; */
}

.btn:hover{
    border: .1rem solid var(--accent-color);
    background-color: var(--bg-left-color);
    color: var(--accent-color);
}

.right{
    background-color: var(--bg-right-color);
    width: 45%;
    min-height: 80vh;
    /* background-image: url(../img/bg.png);
    background-position: right bottom;
    background-repeat: no-repeat; */
}

.bgi{
    position: absolute;
    right: -2.5%;
    bottom: 0;
}

.bgi img{
    width: 95%;
}

