@media screen and (max-width:1410px){
    .quotes-bottom{
        right: 25%;
    }
}
@media screen and (max-width:1394px) {
    .header img{
        bottom:-10%;   
    }
    .title{
        font-size: 5.4rem;
    }
    .two-content p:first-child{
        padding-top: 6rem;
    }
    .two-content p{
        font-size: 2rem;
    }
    .two-content .title{
        line-height: 6rem;
    }
    .technology{
        margin-top: 4rem; 
        padding-bottom: 7rem;
    }
    .quotes-bottom{
        right: 23%;
    }
}

@media screen and (max-width:1362px){
    .quotes-bottom{
        right: 20%;
    }
}

@media screen and (max-width:1352px){
    .two-content{
        padding-left: 15rem;
    }
    .two-content .title{
        line-height: 5rem;
    }
    .technology{
        padding: 0 0 5rem 15rem;
    }
    .section-three p{
        padding: 4rem 7rem;
    }
    .row-bottom p{
        padding: 4rem 3.5rem;
    }
    .row-bottom > a:nth-of-type(2) > p{
        padding: 4rem 6.1rem;
    }
    .row-bottom > a:nth-of-type(3) > p{
        padding: 4rem 4.2rem;
    }
    .row-bottom > a:nth-of-type(4) > p{
        padding: 4rem 4.6rem;
    }
    .quote p{
        font-size: 2.8rem;
    }
    .quotes-bottom{
        right: 25%;
    }
}

@media screen and (max-width:1342px){
    .row-bottom > a:nth-of-type(3) > p{
        padding: 4.4rem 4.8rem;
    }
    .row-bottom > a:nth-of-type(4) > p{
        padding: 3.8rem 4.6rem;
    }
    .quotes-bottom{
        right: 23%;
    }
}

@media screen and (max-width:1325px) {
    .header img{
        width: 40%;
    }
    .nav{
        width:25%;
    }
    .title{
        font-size: 5rem;
    }
    .header-descript p{
        font-size: 1.8rem;
    }
    .logo,
    .header-descript,
    .section-five h2,
    .footer-btm{
        padding-left: 16rem; 
    }
    .bc-title h3{
        font-size: 2.8rem;
    }
    .two-content p:first-child{
        padding-top: 5rem;
    }
    .boxes{
        width: 70%;
        padding-bottom: 12rem;
    }
    .box-footer{
        width: 95%;
    }
}

@media screen and (max-width:1320px){
    .quote p{
        font-size: 2.6rem;
    }
    .quotes-bottom{
        right: 25%;
    }
}

@media screen and (max-width:1288px){
    .section-three  a  p{
        padding: 4rem 6rem;
    }
    .row-bottom > a:nth-of-type(1) > p{
        padding: 4rem 2.6rem;
    }
    .row-bottom > a:nth-of-type(2) > p{
        padding: 4rem 5rem;
    }
    .row-bottom > a:nth-of-type(3) > p{
        padding: 4.2rem 5rem;
    }
    .row-bottom > a:nth-of-type(4) > p{
        padding: 3.6rem 3.5rem;
    }
    .quotes-top{
        top:56%;
    }
    .quotes-bottom{
        right: 23%;
    }
}

@media screen and (max-width:1278px){
    .quotes-bottom{
        right: 21%;
    }
}

@media screen and (max-width:1245px){
    .quote p{
        font-size: 2.5rem;
    }
    .right p:last-child{
        font-size: 2.5rem;
    }
    .quotes-bottom{
        right: 23%;
    }
}

@media screen and (max-width:1240px){
    .header-top{
        margin-bottom: 12rem; 
    }
    .two-content p:first-child{
        padding-top: 3rem;
    }
    .two-content p{
        line-height: 2.5rem;
    }
    .section-two a{
        font-size: 2.2rem;
    }
    .section-two img{
        top: -10%;
    }
    .technology{
        margin-top: 3rem;
    }
    .tech-title{
        margin-bottom: 1.2rem;
    }
    .tech-title svg *{
        width: 1.8rem;
        height: .8rem;
    }
    .tech-title h3{
        font-size: 2rem;
    }
    .quotes-bottom{
        right: 21%;
    }
}

@media screen and (max-width:1228px){
    .section-three  a  p{
        padding: 4rem 5rem;
    }
    .row > a:nth-of-type(3) > p{
        padding: 3.4rem 7rem;
    }
    .row-bottom > a:nth-of-type(1) > p{
        padding: 4rem 1.6rem;
    }
    .row-bottom > a:nth-of-type(2) > p{
        padding: 4rem 4.4rem;
    }
    .row-bottom > a:nth-of-type(3) > p{
        padding: 4.2rem 4.3rem;
    }
    .row-bottom > a:nth-of-type(4) > p{
        padding: 3.4rem 2.6rem;
    }
    .quote p{
        font-size: 2.4rem;
    }
    .quotes-top{
        top:58%;
    }
    .quotes-bottom{
        right: 20%;
    }
    .right p:last-child{
        font-size: 2.4rem;
    }
}

@media screen and (max-width:1192px){
    .tech-title h3{
        font-size: 1.8rem;
    }
    .two-content h2{
        margin-bottom: 2rem;
    }
    .quote p{
        font-size: 2.2rem;
    }
    .quotes-top{
        top:60%;
    }
    .quotes-bottom{
        right: 23%;
    }
    .right p:last-child{
        font-size: 2.2rem;
    }
}

@media screen and (max-width:1170px){
    .quotes-bottom{
        right: 22%;
    }
}

@media screen and (max-width:1160px){
    .header img{
        bottom: -8%;
    }
    .header-top{
        margin-bottom: 10rem; 
    }
    .nav{
        width:30%;
    }
    .title{
        font-size: 4.6rem;
    }
    .btn,
    .header-descript p,
    .two-content p{
        font-size: 1.6rem;
    }
    .logo,
    .header-descript,
    .section-one h2,
    .section-three h2,
    .footer-btm{
        padding-left: 12rem; 
    }
    .section-two img{
        width: 42%;
    }
    .two-content p{
        line-height: 2rem;
    }
    .tech-descript p{
        font-size: 1.4rem;
        line-height: 2rem;
    }
    .quotes-bottom{
        right: 20%;
    }
    .section-five h2{
        padding: 5rem 0 5rem 12rem;
    }
    .boxes{
        padding-bottom: 10rem;
    }
    .box-title{
        font-size: 3rem;
    }
}

@media screen and (max-width:1142px){
    .section-three  a  p{
        padding: 3rem 3.5rem;
    }
    .row > a:nth-of-type(3) > p{
        padding: 2.5rem 6rem;
    }
    .row-bottom > a:nth-of-type(1) > p{
        padding: 3rem .3rem;
    }
    .row-bottom > a:nth-of-type(2) > p{
        padding: 3rem 2.7rem;
    }
    .row-bottom > a:nth-of-type(3) > p{
        padding: 3.4rem 3.1rem;
    }
    .row-bottom > a:nth-of-type(4) > p{
        padding: 2.6rem 1.2rem;
    }
    .quotes-bottom{
        right: 16%;
    }
    .quote p{
        width: 75%;
    }
}

@media screen and (max-width:1110px){
    .section-two img{
        top:-6%
    }
    .quotes-top{
        left: 6%;
    }
    .quotes-bottom{
        right: 14%;
    }
}

@media screen and (max-width:1093px){
    .quote p,
    .right p:last-child{
        font-size: 2rem;
    }
    .quotes-bottom{
        right: 17%;
    }
}

@media screen and (max-width:1070px){
    .title{
        font-size: 4.2rem;
        line-height: 5.2rem;
    }
    .logo,
    .header-descript,
    .section-one h2,
    .two-content,
    .technology,
    .section-three h2,
    .footer-btm{
        padding-left: 10rem; 
    }
    .bc-title svg *{
        width: 1.8rem;
        height: .8rem;
    }
    .bc-title h3{
        font-size: 2.6rem;
    }
    .card p{
        font-size: 1.6rem;
    }
    .section-two a{
        margin-left: 10rem;
    }
    .section-two img{
        top: 0;
        height:100%;
        width: 38%;
    }
    .technology{
        padding-bottom: 3rem;
    }
    .tech-title h3{
        font-size: 1.5rem;
    }
    .section-three  a  p{
        padding: 2.5rem 3.2rem;
    }
    .row > a:nth-of-type(3) > p{
        padding: 1.8rem 6rem;
    }
    .row-bottom  img{
        width: 80%;
    }
    .row-bottom > a:nth-of-type(1) > p{
        padding: 2.5rem 0;
    }
    .row-bottom > a:nth-of-type(2) > p{
        padding: 2.7rem 2.5rem;
    }
    .row-bottom > a:nth-of-type(3) > p{
        padding: 3rem 2.9rem;
    }
    .row-bottom > a:nth-of-type(4) > p{
        padding: 2.4rem .8rem;
    }
    .quote{
       padding-top: 25rem;
    }
    .right{
        width: 70%;
    }
    .quotes-bottom{
        right: 22%;
    }
}

@media screen and (max-width:1059px){
    .section-four{
        flex-direction: row-reverse;
    }
    .quote{
        padding-top: 15rem;
    }
    .quote p,
    .right p:last-child{
        font-size: 2.6rem;
    }
    .right p:last-child{
        padding-bottom: 5rem;
    }
    .quotes-top,
    .quotes-bottom{
        display: none;
    }
    .footer-logo a {
        color: #FFBB00;
    }
}

@media screen and (max-width:980px){
    .header-top{
        margin-bottom: 8rem; 
    }
    .title{
        font-size: 4rem;
        line-height: 5rem;
    }
    .logo,
    .header-descript,
    .section-one h2,
    .section-three h2,
    .footer-btm{
        padding-left: 8rem; 
    }
    .btn{
        margin-bottom: 8rem;
    }
    .part{
        display: flex;
        justify-content: space-around;
    }
    .section-three p{
        margin-bottom: 2rem;
    }
    .row, 
    .row-bottom{
        display: block;
    }
    .row-bottom > a:nth-of-type(1) > p{
        padding: 2.6rem 2.4rem;
    }
    .row-bottom > a:nth-of-type(2) > p{
        padding: 2.4rem 2.5rem;
    }
    .row-bottom > a:nth-of-type(3) > p{
        padding: 3rem 2.9rem;
    }
    .row-bottom > a:nth-of-type(4) > p{
        padding: 2.3rem .8rem;
    }
    .quote{
        padding-top: 12rem;
    }
    .quote p,
    .right p:last-child{
        font-size: 2.4rem;
    }
    .right p:last-child{
        padding-bottom: 3rem;
    }
    .section-five h2{
        padding: 3rem 0 3rem 12rem;
    }
    .boxes{
        padding-bottom: 8rem;
    }
    .box-title{
        font-size: 2.6rem;
    }
    .box-item{
        font-size: 1.6rem;
        margin: 1.4rem 0;
    }
    .sign-up {
        margin-top: 1rem;
    }
    .silver{
        margin-top: 9rem;
    }
}

@media screen and (max-width:940px){
    .header img{
        display: none;
    }
    .header{
        background-image: url(../img/bc1.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .nav{
        width:40%;
        padding-right: 5rem;
    }
    .cards{
        display: block;
    }
    .card{
        width: 80%;
        margin: 0 auto ;
    }
    .bc-title h3{
        font-size: 2.2rem;
    }
    .card p{
        font-size: 1.2rem;
        margin-bottom: 3rem;
    }
    .section-two img{
        width: 30%;
        height: auto;
    }
    .two-content{
        width: 45%;
    }
    .technology{
        width: 65%;
        margin-top: 4rem;
    }
    .quote{
        padding-top: 10rem;
    }
    .quote p,
    .right p:last-child{
        font-size: 2.2rem;
    }
    .boxes{
        width: 80%;
    }
    .box-footer{
        width: 100%;
    }
    .footer-logo {
        margin-left:-5rem;
    }
}