a{
    text-decoration: none;
}

ul, li{
    list-style: none;
}

h2, h3, p{
    margin: 0;
    padding: 0;
}
:root{
    --text-color-first:#FFFFFF;
    --text-color-second:#B2B2B2;
    --bgc-first:#000000;
    --bgc-second: #111111;
    --bgc-third:#161616;
    --accent-color-first:#F6AD09;
    --accent-color-second:#FFBB00;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}

body{
    margin: 0 auto;
    max-width: 140rem;
}

/* Header */
.header{
    background-color: var(--bgc-first);
    font-weight: 500;
    position: relative;
    margin-bottom: 14.5rem;
}

/* .header{
    background-image: url(../img/bc1.jpg);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: -120%;
    background-color: var(--bgc-first);
    font-weight: 500;
    position: relative;
    margin-bottom: 14.5rem;
} */

.header img{
    width: 38%;
    position: absolute;
    right: 8%;
    bottom:-14%;
    border: 1px solid var(--bgc-third);
    border-radius: .7rem;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    margin-bottom: 15rem;
}

.logo, 
.title{
    color: var(--text-color-first);
}

.logo{
    font-size: 3.6rem;
    line-height: 3.2rem;
    padding-left: 20rem;
}

.nav{
    width: 20%;
    display: flex;
    justify-content: space-between;
    padding-right: 15rem;
    margin-top: 0;
}

.nav-item{
    font-size: 1.8rem;
    line-height: 3.2rem;
}

.nav-item a{
    color: var(--text-color-first);
}

.nav-item a:hover{
    color: var(--accent-color-second);
}

.title{
    font-weight: 600;
    font-size: 6rem;
    line-height: 7rem;
    margin-bottom: 3rem;
}

.header-descript{
    width: 35%;
    padding-left: 20rem;
}

.header-descript p{
    color:var(--text-color-second);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.title span{
    color: var(--accent-color-second);
}

.btn{
    background-color: var(--accent-color-first);
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.8rem;
    padding: 1.5rem 2.8rem;
    color: #332200;
    border-radius: .5rem;
    border: .1rem solid var(--accent-color-first);
    margin-bottom: 10rem;
    cursor: pointer;
}

.btn:hover{
    background-color: var(--bgc-first);
    color: var(--accent-color-first);
    border: .1rem solid var(--accent-color-first);
}

/* section-one - Bicycles */
.section-one{
    width: 95%;
    margin: 0 auto 20rem;
}

.section-one h2{
    color: var(--bgc-second);
    padding-left: 18rem;
}

.cards{
    display: flex;
    justify-content: space-around;
}

.card{
    width: 31%;
}

.card img{
    width: 100%;
    margin-bottom: 1.2rem;
}

.bc-title{
    display: flex;
    align-items: center;
}

.bc-title h3{
    color:var(--bgc-second);
    font-weight: 600;
    font-size: 3rem;
    padding-left: 1rem;
}

.card p{
    font-size: 1.8rem;
    color: #595959;
    padding-left: 3rem;
}

/* section-two - Technology */
.section-two{
    background-color: var(--bgc-second);
    position: relative;
    margin-bottom: 14.2rem;
}

.section-two a{
    color: var(--accent-color-second);
    border-bottom: .5rem solid var(--accent-color-second);
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.6rem;
    margin-left: 20rem;
}

.section-two img{
    width: 45%;
    position: absolute;
    right: 3%;
    top: -7%;
}

.two-content{
    width: 35%;
    padding-left: 20rem;
}

.two-content p:first-child{
    text-transform: uppercase;
    padding-top: 8rem;
}

.two-content p{
    color:var(--text-color-second);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 3.2rem;
    margin-bottom: 2rem;
}

.technology{
    width: 35%;
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    padding-left: 20rem;
    padding-bottom: 7.5rem;
}

.tech-descript{
    width: 45%;
}

.tech-title{
    color: var(--text-color-first);
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem;
}

.tech-title h3{
    font-weight: 500;
    font-size: 2.2rem;
    padding-left: 1rem;
}

.tech-descript p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--text-color-second);
}

/* section-three - Partners*/
.section-three{
    width: 95%;
    margin: 0 auto 11rem;
}

.section-three h2{
    color: var(--bgc-second);
    padding-left: 16rem;
    margin-bottom: 4.5rem;
}

.section-three p{
    border: .2rem solid #E0E0E0;
    padding: 4rem 8rem;
    text-align: center;
}

.row{
    margin-bottom: 1.5rem;
}

.row, 
.row-bottom{
    display: flex;
    justify-content: space-between;
}

.row > a:nth-of-type(3) > p{
    padding: 3.4rem 8rem;
}

.row-bottom p{
    padding: 4rem 4.6rem;
}

.row-bottom > a:nth-of-type(2) > p{
    padding: 4rem 7.3rem;
}

.row-bottom > a:nth-of-type(3) > p{
    padding: 4.2rem 5.3rem;
}

.row-bottom > a:nth-of-type(4) > p{
    padding: 3.5rem 5.6rem;
}

/* section-four - Quote with photo */
.section-four{
    display: flex;
}

.section-four img:first-of-type{
    width: 100%;
    height:100%;
}

.right{
    width: 60%;
    background-color: var(--accent-color-second);
    display: block;
}

.right p:last-child{
    font-size: 2.4rem;
    color: #664400;
    padding-left: 7.2rem;
}

.quote{
    display: flex;
    padding: 28rem 0 2rem 7.2rem;
    position: relative;
}

.quote p{
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-weight: 900;
    font-size: 3rem;
    color: #332200;
    width: 70%;
}

.quotes-top{
    position: absolute;
    top:54%;
    left: 5%;
}

.quotes-bottom{
    position: absolute;
    right: 27%;
    bottom: 0;
}

/* section-five - Insurance*/
.section-five{
    background-color: var(--bgc-third);
}

.section-five h2{
    padding: 7rem 0 7rem 20rem;
}

.boxes{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 14rem;
}

.box{
    background-color: var(--bgc-first);
    border-radius: .7rem;
    width: 47%;
}

.box:hover{
    transform: scale(1.2);
}

.box:hover > .box-title p:nth-of-type(1){
    color: var(--accent-color-second);
}

.box p:nth-of-type(3){
    font-weight: 600;
    font-size: 1.2rem;
    color: #9C9C9C;
}

.box ul{
    padding-left: 3rem;
}

.box-title{
    font-weight: 600;
    font-size: 3.2rem;
    display: flex;
    justify-content: space-between;
    padding: 3rem 3rem 0 5rem;
}

.box-title p:first-child{
    color: #9C9C9C;
}

.box-title p:last-child{
    color: var(--text-color-first);
}

.monthly{
    color: #9C9C9C;
    text-align: end;
    padding-right: 3rem;
}

.box-item{
    color: var(--text-color-first);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.4rem;
    display: flex;
    align-items: center;
    margin: 1.8rem 0;
}

.box-item p{
    padding-left: 1rem;
}

.sign-up{
    cursor: pointer;
    background-color: #2E2E2E;
    color: #CCCCCC;
    border-radius: .5rem;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.8rem;
    padding: 1.5rem 2.8rem;
    margin: 3rem 0 3rem 5rem;
}

.silver{
    margin-top: 11rem;
}

/* Footer */
.footer{
    background-color: var(--bgc-first);
}

.box-footer{
    width: 85%;
    display: flex;
    justify-content: space-around;
}

.footer-logo {
    margin: 6rem 0 0 -10rem;
}

.contacts h3{
    margin: 6.6rem 0 3rem ;
}

.footer-title{
    color: var(--text-color-first);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 2.4rem;
    letter-spacing: 0.015em;
    text-transform: uppercase;
}

.address{
    display: flex;
    flex-direction: column;
}

.address,
.address a,
.footer p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    letter-spacing: 0.015em;
    color: var(--text-color-second);
}

.address a,
.address p{
    margin-bottom: 1rem;
}

.address a:last-of-type{
    margin-bottom: 4rem;
}

.address a:hover{
    text-decoration: underline;
}

.social ul{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    margin-top: 2rem;
}

.info h3{
    margin: 6.6rem 0 3rem ;
}

.info ul{
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 0.015em;
    padding-left: 0;
}

.info li{
    margin-bottom: 1.5rem;
}

.info a{
    color: var(--text-color-second);
}

.info a:hover{
    color: var(--accent-color-second);
}

.footer-btm{
    padding: 5rem 0 5rem 20rem;
}