@media screen and (min-width:1620px){
   .screen{
      margin: 0 5rem;
   }
}

@media screen and (max-width:1380px){
   .nav-menu{
      font-size: 3rem ;
   }
}

@media screen and (max-width:1260px){
   .nav-menu{
      font-size: 2.8rem ;
   }
}

@media screen and (max-width:1260px){
   .nav-menu{
      font-size: 2.6rem ;
   }
}

@media screen and (max-width:992px){
   /* screen 1 */
   .header{
      height: 8vh;
   }
   .logo img{
      height: 100%;
   }
   .nav-menu{
      font-size: 2rem ;
   }
   .gallery{
      height: 90%;
      margin-top: 5%;
   }
   .gallery div{
      margin: 0 auto;
      width:90%
   }
   .left-side img{
      width: 80%;
   }
   .left-side,
   .left-center{
      animation: img-show-left 2s linear 1 forwards;
   }
   .left-center,
   .right-center {
      display: flex;
      text-align: center;
   }
   .left-center img{
      width: 80%;
   }
   .left-center div{
      width: 100%;
      margin: 0;
   }
   .right-side img{
      width: 80%;
   }
   .right-center img{
      width: 80%;
   }
   .right-center div{
      width: 100%;
      margin: 0;
   }
   .left-images{
      display: flex;
      flex-direction: column;
   }
   .right-images{
      display: flex;
      flex-direction: column-reverse;
   }
   .right-side,
   .right-center{
      animation: img-show-right 3s linear 1 forwards;
  }
  
   /* screen 2 */
   .services {
      flex-direction: row-reverse;
   }
   .services img{
      display: block;
      width: 85%;
      margin: 0 auto;
   }
   .services p{
      font-size: 4rem;
   }
  
   /* screen 3 */
   .team-title{
      font-size: 6rem;
   }
   .cards{
      flex-wrap: wrap;
   }
   .cards div{
      width: 40%;
      height: 100%;
      margin: 3rem auto;
   }
   .cards .name{
      transition-duration: 2.5s;
   }

   /* screen 4 */
   .contact-bottom { 
      display: block;
      margin-top: 2%;
   }
   .contact-bottom > div{
      padding: 3%;
   }
   .contact-top{
      display: block;
      width: 100%;
   }
   .contact-top h2{
      font-size: 4.8rem;
   }
   .contact-top form{
      margin-bottom: 5%;
   }
   .form input{
      font-size: 3.2rem;
   }
   .message,
   .map{
      width: 80%;
      margin:0 auto;
   }
   .map iframe{
      min-height: 50vh;
   }
}  

@media screen and (width<768px){
  /* screen 1 */
   .header{
      height: 5vh;
      /* margin-bottom: 3vh; */
   }
   .logo img{
      height: 100%;
   }
   .nav-menu{
      font-size: 1.5rem;
   }
   .gallery,
   .left-images,
   .left-side,
   .right-side,
   .right-images,
   .right-center,
   .right-side{
      display: block;
   }
   .left-side,
   .right-side{
      text-align: center;
   }
   .left-center{
      display: block;
   }
   .left-side{
      animation: img-show-left 2s linear 1 forwards;
   }
   .left-center-top{
      animation: img-show-right 3s linear 1 forwards;
   }
   .left-center-bottom{
      animation: img-show-left 4s linear 1 forwards;
   }
   .right-center-top{
      animation: img-show-right 5s linear 1 forwards;
   }
   .right-center-bottom{
      animation: img-show-left 6s linear 1 forwards;
   }
   .right-side{
      animation: img-show-right 7s linear 1 forwards;
   }
   .gallery img{
      width: 60%;
   }
   
 
 /* screen 2 */
  .services .left{
      width: 100%;
   }
  .services img{
      display: block;
      width: 75%;
      margin: 0 auto;
   }
  .services p{
      font-size: 3.6rem;
   }
  .services .right{
      display: none;
   }  

 /* screen 3 */
  .team-title{
      font-size: 4.2rem;
   }
  .cards{
      display: block;
   }
  .cards div{
      width: 50%;
      height: 100%;
      margin: 3rem auto;
   }
  .cards .name{
      border-radius: 0 0 4rem 4rem;
   }

/* screen 4 */
  .contact{
      display: flex;
      flex-direction: column;
   }
  .contact-top{
      display: flex;
      flex-direction: column-reverse;
   }
  .contact-top h2{
      font-size: 3.6rem;
   }
  .message{
      width: 90%;
   }
  .form input{
      font-size: 2.4rem;
      margin: 1rem;
      padding: .5rem;
   }
  .contact-bottom{
      display: block;
   }
  .form-bottom input{
      padding-bottom: 8rem;
   }
  .map{
      width: 90%;
      height: 50vh;
      margin-bottom: 5%;
   }
  .contact-bottom div{
      margin-bottom: 5%;
      font-size: 2.4rem;
   }
}